body{
    background-image:url(../pic/backelec.jpg);
    
}
.el{
    height: 490px;
    width: 100%;
  /* background-image: url(../pic/backele.jpg);*/
}


#elem{
    position: absolute;
    top:200px;
left:250px;
text-transform: capitalize;
text-shadow: darkviolet;
text-decoration-style:solid;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rosybrown;
}